asttokens==2.4.1
colorama==0.4.6
comm==0.2.2
datasets==2.19.1
dill==0.3.8
executing==2.0.1
jedi==0.19.1
lightning-utilities==0.11.2
lion-pytorch==0.1.4
multiprocess==0.70.16
pure-eval==0.2.2
regex==2024.5.15
stack-data==0.6.3
torch==2.3.0
torchaudio==2.3.0
torchmetrics==1.4.0
torchtext==0.18.0
torchvision==0.18.0
urllib3==2.2.1
wcwidth==0.2.13
Werkzeug==3.0.3
xxhash==3.4.1
yarl==1.9.4
